<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item <% if(!page.hasPre) { %> disabled <% } %>">
      <% if(Boolean(id)) { %>
        <a class="page-link" href="/?page=<%= page.currentPage -1 %>&id=<%-id %>" tabindex="-1">Previous</a>
      <% } else { %>
        <a class="page-link" href="/?page=<%= page.currentPage -1 %>" tabindex="-1">Previous</a>
      <% } %>
    </li>
    <% for(var i = 1;i<=page.pageTotal;i++){ %>
      <li class="page-item <% if(page.currentPage == i) { %> active <% } %>"> 
        <% if(Boolean(id)) { %>
          <a class="page-link" href="/?page=<%= i %>&id=<%-id %>"> <%= i %></a>
        <% } else { %>
          <a class="page-link" href="/?page=<%= i %>"> <%= i %></a>
        <% } %>
      </li>
    <% } %>
    <li class="page-item <% if(!page.hasNext) { %> disabled <% } %>">
      <% if(Boolean(id)) { %>
        <a class="page-link" href="/?page=<%= page.currentPage + 1 %>&id=<%-id %>">Next</a>
      <% } else { %>
       <a class="page-link" href="/?page=<%= page.currentPage + 1 %>">Next</a>
      <% } %>
    </li>
  </ul>
</nav>